.no-post-container {
  text-align: center;
  padding: 40px 10px;
  color: var(--dark-text);
  background: var(--header-bg);
  // border-radius: 12px;
}

.no-post-image {
  width: 120px;
  margin-bottom: 16px;
  opacity: 0.8;
}

.no-post-img {
  width: 300px;        /* change as needed */
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
