.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

/* Input */
.search-wrapper input {
  width: 0;
  opacity: 0;
  padding: 0px;
  border-radius: 20px;
 border: 1px solid #ccc !important;
  outline: none;
  transition: all 0.3s ease;
  font-size: 14px;
}

/* Open state */
.search-wrapper.open input {
  width: 200px;
  opacity: 1;  padding: 8px 10px;
  margin-right: 8px;
}

/* Search button */
.search-wrapper button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}
