/* Disable Google Translate popup tooltip */
.goog-tooltip,
.goog-tooltip:hover {
  display: none !important;
  visibility: hidden !important;
}

.goog-text-highlight {
  background-color: transparent !important;
  box-shadow: none !important;
}


main.main-section-parent.px-0.profile-section {
    overflow-x: hidden !important;
}
