.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #d5d4d4c7;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 10px;
  position: fixed;              /* not absolute */
  inset: 0;                     /* top:0; right:0; bottom:0; left:0 */
  display: flex;
  align-items:anchor-center;
  justify-content: center;
  z-index: 9999;                /* higher than your app */
  overflow: hidden;
}
.login-form{
padding: 20px 24px;
}
.modal-content.signup-form.login-form {
  height: auto;
  width: 404px !important;
  border: 2px solid yellow;
  h1{
    font-size: 27px;
    font-weight: 600;
  }

}

.form-footer {
  padding: 0px 0px 20px 0px;

  a {
    font-size: 12px;
  }

  label {
   font-size: 14px;
    font-weight: 600;
    display: flex
;
    align-items: center;
    gap: 6px;

  }
}

.social-a-link {
  width: 40px;
  height: 40px;
  border: 1px solid #000000ab;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.form-group {
  margin-bottom: 40px;

  label {
    font-size: 20px;
    font-weight: 600;
  }

  .input-wrapper {
    position: relative;

    // input {
    //   width: 100%;
    //   border-bottom: 3px solid yellow !important;
    //   border-radius: 0px;
    //   padding: 9px 34px 9px 10px;
    //   width: 100%;
    //   border: unset;
    //   background: transparent;
    // }

    .input-icon {
      position: absolute;
      right: 9px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      color: #666;
    }
  }

  .error-msg {
    color: #b84430;
    font-size: 13px;
  }
}

.submit-btn {

  background-color: #fdd127;
  background-color: #ffffff;
  border: none;
  border-radius: 0px;
  color: #0a0a0a;
  font-weight: 600;
  margin-top: 10px;
  padding: 10px;
  border-bottom: 2px solid #fdd127;
  width: 160px !important;
  margin: 0 auto;

}

.account-details {
  font-size: 13px;
  margin-top: 10px;
}

select.form-control {
    font-size: 14px;
    border-bottom: 3px solid yellow !important;
    background-color: transparent;
    border: unset;
}

.custom-link {
  color: var(--category-text);
      cursor: pointer;
 text-decoration: underline !important;
    text-decoration-color: var(--theme-color) !important;
    text-underline-offset: 2px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    text-decoration-thickness: 2px !important;

}



label {
  font-size: 14px;
  font-weight: 600;
}/* For all modern browsers */
input::placeholder {
  color: var(--icon-color);
  opacity: 1;
}
/* For textarea, if needed */
textarea::placeholder {
  color: var(--icon-color);
  opacity: 1;
}
/* For older WebKit browsers */
input::-webkit-input-placeholder {
  color: var(--icon-color);
}
/* For Firefox */
input::-moz-placeholder {
  color: var(--icon-color);
}
/* For IE */
input:-ms-input-placeholder {
  color: var(--icon-color);
}
/* For Edge */
input::-ms-input-placeholder {
  color: var(--icon-color);
}